* {
    margin: 0; padding: 0;
}

body {
    display: flex; justify-content: center;
    flex-direction: column;
    align-items: center; height: 100vh; width: 80vw;
    margin: 0 auto;
}

.panel {
    background: white; color: grey;
    box-shadow: 2px 2px 5px grey;
    border-radius: 5px;
    width: 50vw; height: 70px;
    display: flex; align-items: center; justify-content: center;
    font-size: 30px; margin-bottom: 30px; font-family: sans-serif;
}

.gameboard {
    width: 90vw; height: 90vw;
    max-width: 750px; max-height: 750px; 
    display: grid; box-shadow: 2px 2px 5px grey;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    margin-bottom: 30px;
}

.route {
    min-height: 20px; min-width: 20px;
    border: 0.1px black solid;
    color: white;
    display: flex; justify-content: center; align-items: center;
}

.snake-part {
    min-height: 80%; min-width: 80%; font-size: 18px;
    border-radius: 50%;
    display: flex; align-items: center; justify-content: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.btn {
    height: 50px; width: 50px;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 15px;

    &:active {
        background: #112233; color: white;
    }
}